[user]
	name = Leo Bergnéhr
	email = leo@bergnehr.se

[alias]
  timeline = log --graph --decorate --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative

[diff]
  tool = vimdiff

[difftool]
  promt = false
