[user]
	name = Leo Bergnéhr
	email = leo@bergnehr.se

[alias]
  lf = log --decorate --pretty=format:'%h -%C(auto)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  l = !git lf --graph
  la = !git l --all
  fshow = !git show $(git l | selecta | tr -d \" *-/|\\\\\" | cut -c 1-7)
  fdi = !git di $(git la | selecta | tr -d \" *-/|\\\\\" | cut -c 1-7) $(git la | selecta | tr -d \" *-/|\\\\\" | cut -c 1-7)
  st = status
  ci = commit -v
  co = checkout
  coh = checkout HEAD
  di = diff --color
  diw = diff --color --word-diff
  dc = diff --cached --color
  amend = commit --amend
  aa = add --all
  au = add -u
  ap = add -p
  ff = merge --ff-only
  pullff = pull --ff-only
  noff = merge --no-ff
  fa = fetch --all
  pom = push origin master
  poh = push origin HEAD
  pohf = !git poh --force-with-lease
  b = branch --color
  ds = diff --stat=161,120 --color
  dh1 = diff HEAD~1 --color
  wipe = !git add -A && git commit --no-gpg-sign -qm 'WIPE SAVEPOINT' && git reset HEAD~1 --hard
  bclean = "!f() { git remote prune origin && git branch --merged ${1-master} | grep -v " ${1-master}$" | xargs git branch -d; }; f"
  bdone = "!f() { git co ${1-master} && git fa && git ff origin/${1-master} && git bclean ${1-master}; }; f"
  undo = fetch --prune
  stash-all = stash save --include-untracked

[diff]
  tool = vimdiff

[difftool]
  promt = false

[rerere]
	enabled = true

[merge]
  ff = only

[commit]
	gpgsign = true
